.project {
    width: 250px;
    background-color: lavender;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.iconsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    background-image: url("https://itproger.com/img/courses/1476977754.jpg");
    background-size: cover;
    background-position: center;
}

.description {

}