@import "../../../common/styles/sass/variables";

.skills {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @media screen and (max-width: 624px) {
    justify-content: center;
  }
}
