@import "../../../common/styles/sass/variables";
@import "../../../common/styles/sass/mixins";

.formContainer {

  .form {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;

    .formControl {
      margin-top: 1.5rem;
      padding: 0 10px;
      width: 50%;

      .formField {
        background: $bgSecondColor;
        border: 1px solid $bgColor;
        width: 100%;
        border-radius: 50px;

        color: $textColor;
        padding: 11px 26px;
        outline: none;
        transition: .3s;
        font: inherit;
      }

      textarea.formField {
        border-radius: 20px;
      }

      &:nth-child(3), &:nth-child(4) {
        width: 100%;
      }

      @media screen and (max-width: 728px) {
        width: 100%;
      }
    }

    .footerBottom {
      margin-top: 1.5rem;
      text-align: center;
      width: 100%;

      button {
        @include fontStyle($fontFamily, 20px, $textColor);
        padding: 10px 50px;
        border-radius: 50px;
        background: $primaryColor;
        font-weight: 500;
      }
    }
  }
}