@import "../../common/styles/sass/variables";
@import "../../common/styles/sass/mixins";

.container {
  @include container();

  .projects {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    @media screen and (max-width: 728px) {
      justify-content: center;
    }
  }
}

