.myProjectsBlock {
    background-color: #f5f5f5;
    padding: 50px 0;
}

.myProjectsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: #f8abd4;
}

.projects {
    border: 1px solid deeppink;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}