@import "../../../common/styles/sass/variables";

.nav {
    width: 280px;
    display: flex;
    justify-content: space-between;
    .navIcon{
        a{
            color: $textColor;
            font-size: xx-large;
        }
        &:hover{
            a{
                color: $primaryColor
            }
        }
    }
}